.navbar {
  margin-bottom: 0 !important;
  background-image: none !important;
  border-color: none !important;
  /* background-color: none !important; */
}

.navbar-default {
  /* background: none !important; */
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

/* a:hover {
  font-size: 25px;
} */
ul {
  list-style: none;
  margin: 0;
}
ul li {
  display: inline-block;
  display: inline;
  margin: 5px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a,
ul li a:after,
ul li a:before {
  transition: all 0.5s;
}
ul li a:hover {
  color: #e34f25;
}
/* stroke */
ul li a {
  position: relative;
}
ul li a:after,
ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}
ul li a:hover:after {
  width: 100%;
}

ul li a {
  transition: all 1s;
}

ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
ul li a:hover {
  color: white;
  z-index: 1;
}
ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}
